<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>login</title>
<link rel="stylesheet" href="/css/admin.css" type="text/css" media="all" />
<link type="text/css" href="/css/south-street/jquery-ui-1.8.12.custom.css" rel="Stylesheet" />
<script type="text/javascript" src="/js/jquery.js?ver=1.5.2"></script>
<script type="text/javascript" src="/js/jquery-ui.js?ver=1.8.12"></script>
</head>

<body>
	<div id="framecontent">
		<div class="innertube">
			<h2>Myblog 2.0</h2>
			<ul>
				<li><a href="/adm">Dashboard</a></li>
				<li><a href="/adm/entries">Entries</a></li>
				<li><a href="/signout">Sign out</a></li>
				<li>
					<ul>
						<li><a href="/adm/entry/add">Add Entry</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>


	<div id="maincontent">
		@Decorated
		<div/>
	</div>

</body>
</html>
