@CHARSET "UTF-8";
body {
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	height: 100%;
	max-height: 100%;
}

#framecontent {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 200px; /*Width of frame div*/
	height: 100%;
	overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
	background-color: #f0f0f0 !important;
}

#maincontent {
	position: fixed;
	top: 0;
	left: 200px; /*Set left value to WidthOfFrameDiv*/
	right: 0;
	bottom: 0;
	overflow: auto;
	background: #fff;
}

.innertube {
	margin: 15px;
	/*Margins for inner DIV inside each DIV (to provide padding)*/
}

* html body { /*IE6 hack*/
	padding: 0 0 0 200px; /*Set value to (0 0 0 WidthOfFrameDiv)*/
}

* html #maincontent { /*IE6 hack*/
	height: 100%;
	width: 100%;
}

fieldset {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
}
form label {
	float: left;
	width: 100px;
}
form div {
	display: block;
	margin: 8px;
}
form input {
	border: #ccc solid 2px;
	font-size: 18px;
}