@CHARSET "UTF-8";
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
fieldset {
	width: 500px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
}
form label {
	float: left;
	width: 100px;
}
form div {
	display: block;
	margin: 8px;
}
form input {
	border: #ccc solid 2px;
	font-size: 18px;
}
