<html>
<head>
</head>
<body>
		<div class="row">
			<h2>Entries </h2>
            <table class="table table-striped">
                <thead>
					<tr>
                    	<th>Title</th><th>Author</th><th>Categories</th><th>Tags</th><th>Date</th><th>Action</th>
					</tr>
                </thead>
                <tbody>
				@Repeat(items=entries, var="entry")
				<tr>
                	<td>${entry.title}</td><td>${entry.author.nickname}</td><td>Categories</td><td>Tags</td><td>Date</td>
                    <td>
						<a class="btn btn-primary" href="/adm/entry?id=${entry.id}"> <i class="icon-file icon-white"></i> Edit </a>
						<a class="btn btn-danger" href="/adm/entry/delete/${entry.id}"> <i class="icon-remove icon-white"></i> Delete </a>
                    </td>
				</tr>
                </tbody>
			</table>
		</div>
</body>
</html>